<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Cross Buy"
    gamePrice="50,90"
    gameType="PS4 | PS3 | PS Vita"
  />

  <app-card
    gameCover="assets/bt-4.jpg"
    gamePrice="90,00"
    gameLabel=""
    gameTitle="Buy Now!"
    gameType="PS4 | PS3 | PS Vita"
  />

  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Exclusive"
    gamePrice="130,90"
    gameType="Full Game | PS4"
  />

  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel=""
    gamePrice="126,58"
    gameType="Digital Game | PS3"
  />

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel=""
    gamePrice="60,90"
    gameType="Full Game | PS3"
  />

</div>
